# Copyright (c) Ansible Project
# GNU General Public License v3.0+ (see LICENSES/GPL-3.0-or-later.txt or https://www.gnu.org/licenses/gpl-3.0.txt)
# SPDX-License-Identifier: GPL-3.0-or-later

# Module dependencies
requests>=2
proxmoxer>=2

# Devel dependencies
ansible-core>=2.15
antsibull-changelog==0.25.0
