# Copyright (c) Ansible Project
# GNU General Public License v3.0+ (see LICENSES/GPL-3.0-or-later.txt or https://www.gnu.org/licenses/gpl-3.0.txt)
# SPDX-License-Identifier: GPL-3.0-or-later

# Created with antsibull-docs 2.7.0

antsibull-docs>=2,<3
ansible-pygments>=0.1,<0.2
sphinx>=7,<8
sphinx-ansible-theme>=0.10.0,<0.11
